.aside {
  border-right: thick groove #d0d0d0;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1.5vmin);
}

.menu {
  height: inherit;
  width: 120px;
}

.menu .element {
  display: flex;
}
