.element {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: solid 2px #d0d0d0;
  border-radius: 0.2rem;
  padding: 0.5rem 0.8rem;
  margin: 0.5rem;
}

.element svg,
.element img {
  height: 4rem;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  font-size: 14px;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: left;
  padding: 5px;
  border-radius: 6px;

  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%;
}
